{% extends 'base.html.twig' %}
{% block body %}
    {% if messages is null %}
        <h1>No messages!</h1>
    {% else %}
        <h1>Numbers list</h1>
        <table>
            <tr>
                <td><strong>Numer telefonu</strong></td>
                <td><strong>Data wysłania</strong></td>
                <td><strong>Wiadomość</strong></td>
            </tr>
        {% for message in messages %}
            <tr>
                <td>{{ message.authorNumber }}</td>
                <td>{{ message.date| date('Y-m-d') }} </td>
                <td>{{ message.messageId.context }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}